{% set nav = "star" %}
{% set title = "star" %}
{% extends "admin/base.html" %}
{% block head %}
<style>
.panel-heading{padding:0}
.panel-heading a{display:block;padding:10px 15px}
.panel-heading a:hover,.panel-heading a:focus{text-decoration: none}
.fileinput-button {
  position: relative;
  overflow: hidden;
}
.fileinput-button input {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  opacity: 0;
  -ms-filter: 'alpha(opacity=0)';
  font-size: 200px;
  direction: ltr;
  cursor: pointer;
}
.fileinput-input{width:80%}
.btn-save{margin-top:1em;}
@media (max-width:600px){
  .fileinput-input{width:60%}
}
</style>
{% endblock %}
{% block body %}
{% if info and info != "" %}
<div class="alert alert-danger alert-dismissible fade in" role="alert">
  <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
  <p>{{ info }}</p>
</div>
{% endif %}


<!--accordion-->
<div class="panel-group" id="accordion">
  
  <!--basic-->
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a>新增star</a>
      </h4>
    </div>
    <div id="collapseBasic" class="panel-collapse collapse in">
      <div class="panel-body">
        <form role="form" action="/admin/star/action" method="post">
          <div class="form-group">
            <label for="J_m_name"  class="control-label">姓名：</label>
            <input id="J_m_name" class="form-control" type="text" name="name" value="" placeholder="输入姓名"/>
          </div>
          <div class="form-group">
            <label for="J_m_img"  class="control-label">图片：</label>
            <div class="clearfix">
              <input id="J_m_img" class="form-control fileinput-input pull-left" type="text" name="img" value="" placeholder="输入URL或上传"/>
              <span class="btn btn-success fileinput-button pull-right" data-input="#J_m_img">
                <i class="glyphicon glyphicon-plus"></i>
                <span>添加图片</span>
                <input type="file" name="files[]" multiple="">
              </span>
            </div>
            
          </div>
          <div class="form-group">
            <button type="submit" class="btn form-control btn-primary btn-save">保存</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  
  <!--batch-->
  <div class="panel panel-default" style="margin-top:30px">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a>批量新增star</a>
      </h4>
    </div>
    <div id="collapseBasic" class="panel-collapse collapse in">
      <div class="panel-body">
        <h4>采用如下格式的数据进行批量导入：</h4>
        <div class="alert alert-info" role="alert">
          <p>姓名 图片链接地址</p>
          <p>姓名 图片链接地址</p>
          <p>姓名 图片链接地址</p>
          <p>姓名 图片链接地址</p>
        </div>
        <form role="form" action="/admin/star/batch" method="post">
          <div class="form-group">
            <textarea class="form-control" name="data" rows="9"></textarea>
          </div>
          <div class="form-group">
            <button type="submit" class="btn form-control btn-primary btn-save">导入</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  

  
</div>

{% endblock %}
{% block script %}
<script>
window.g_uploader = {
  action: '/admin/upload/',
  callback: function(e, response, input){
    if(e){
      return alert('上传失败');
    }
    if(!window.JSON){
      return alert('请使用chrome浏览器');
    }
    try{
      response = JSON.parse(response);
    }catch(e){
      return alert(e.toString());
    }
    if(response.code !== 200){
      return alert(response.message);
    }
    input.val("http://" + location.host + response.img);
  }
}
</script>
<script src="/js/uploader.js"></script>
{% endblock %}