{% set nav = "user" %}
{% set title = "用户列表" %}
{% extends "admin/base.html" %}
{% block body %}

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">用户最近一次上传的图片列表</h3>
  </div>
  <div class="panel-body table-responsive table-hover">
    <table class="table table-bordered table-hover">
      <thead>
          <tr>
            <th>id</th>
            <th>图片</th>
            <th>faceid</th>
            <th>time</th>
          </tr>
      </thead>
      <tbody>
          {% for item in list %}
          <tr data-id="{{item.id}}" data-openid="{{item.openid}}">
            <td>{{item.id}}</td>
            <td><img src="{{item.img}}" alt="{{item.img}}"/></td>
            <td><a href="/admin/face/item/{{item.faceid}}">{{item.faceid}}</a></td>
            <td>{{item.time|time}}</td>
          </tr>
          {% endfor %}
      </tbody>
    </table>
    
    
    {% if size > 1 %}
    <ul class="pagination">
      {% if page == 1 %}
      <li class="disabled"><a href="#">&laquo;</a></li>
      {% else %}
      <li><a href="/admin/user?page={{ page - 1 }}">&laquo;</a></li>
      {% endif %}

      {% for i in range(1, size+1) -%}
        {% if i == page %}
        <li class="active"><a href="#">{{i}}</a></li>
        {% else %}
        <li><a href="/admin/user?page={{i}}">{{i}}</a></li>
        {% endif %}
      {%- endfor %}
      
      {% if page == size %}
      <li class="disabled"><a href="#">&raquo;</a></li>
      {% else %}
      <li><a href="/admin/user?page={{ page + 1 }}">&raquo;</a></li>
      {% endif %}
      
    </ul>
    {% endif %}
    
  </div>
 
    
</div>
{% endblock %}

{% block script %}
<script>
$(function(){
});
</script>
{% endblock %}