{% set nav = "user" %}
{% set title = "用户列表" %}
{% extends "admin/base.html" %}
{% block body %}
{% if info and info != "" %}
<div class="alert alert-danger alert-dismissible fade in" role="alert">
  <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
  <p>{{ info }}</p>
</div>
{% endif %}
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">用户最近一次上传的图片列表</h3>
  </div>
  <div class="panel-body table-responsive table-hover">
    <table class="table table-bordered table-hover">
      <thead>
          <tr>
            <th>id</th>
            <th>图片</th>
            <th>性别</th>
            <th>年龄</th>
            <th>识别引擎</th>
            <th>发布时间</th>
          </tr>
      </thead>
      <tbody>
          {% for item in list %}
          <tr data-id="{{item.id}}">
            <td><a href="/show/{{item.msgid}}" target="_blank">{{item.id}}</a></td>
    <td><a href="/admin/face/item/{{item.faceid}}"><img class="img" src="{{item.img}}"/></a></td>
            <td>{{item.gender}}</td>
            <td>{{item.age}}</td>
            <td>{{ item.type|detect_engine }}</a></td>
            <td>{{item.time|time}}</td>
          </tr>
          {% endfor %}
      </tbody>
    </table>
    
    
    {% if size > 1 %}
    <ul class="pagination">
      {% if page == 1 %}
      <li class="disabled"><a href="javascript:void">&laquo;</a></li>
      {% else %}
      <li><a href="/admin/user?page={{ page - 1 }}">&laquo;</a></li>
      {% endif %}

      {% for i in range(1, size+1) -%}
        {% if i == page %}
        <li class="active"><a href="#">{{i}}</a></li>
        {% else %}
        <li><a href="/admin/user?page={{i}}">{{i}}</a></li>
        {% endif %}
      {%- endfor %}
      
      {% if page == size %}
      <li class="disabled"><a href="javascript:void">&raquo;</a></li>
      {% else %}
      <li><a href="/admin/user?page={{ page + 1 }}">&raquo;</a></li>
      {% endif %}
      
    </ul>
    {% endif %}
    
  </div>
 
    
</div>
{% endblock %}

{% block script %}
<script>
$(function(){
});
</script>
{% endblock %}